$gray-50: #f7fafc;
$gray-100: #edf2f7;
$gray-200: #e2e8f0;
$gray-300: #cbd5e0;
$gray-400: #a0aec0;
$gray-500: #718096;
$gray-600: #4a5568;
$gray-700: #2d3748;
$gray-800: #1a202c;
$gray-900: #171923;

$red-50: #fff5f5;
$red-100: #fed7d7;
$red-200: #feb2b2;
$red-300: #fc8181;
$red-400: #f56565;
$red-500: #e53e3e;
$red-600: #c53030;
$red-700: #9b2c2c;
$red-800: #822727;
$red-900: #63171b;

$orange-50: #fffaf0;
$orange-100: #feebc8;
$orange-200: #fbd38d;
$orange-300: #f6ad55;
$orange-400: #ed8936;
$orange-500: #dd6b20;
$orange-600: #c05621;
$orange-700: #9c4221;
$orange-800: #7b341e;
$orange-900: #652b19;

$yellow-50: #fffff0;
$yellow-100: #fefcbf;
$yellow-200: #faf089;
$yellow-300: #f6e05e;
$yellow-400: #ecc94b;
$yellow-500: #d69e2e;
$yellow-600: #b7791f;
$yellow-700: #975a16;
$yellow-800: #744210;
$yellow-900: #5f370e;

$green-50: #f0fff4;
$green-100: #c6f6d5;
$green-200: #9ae6b4;
$green-300: #68d391;
$green-400: #48bb78;
$green-500: #38a169;
$green-600: #2f855a;
$green-700: #276749;
$green-800: #22543d;
$green-900: #1c4532;

$teal-50: #e6fffa;
$teal-100: #b2f5ea;
$teal-200: #81e6d9;
$teal-300: #4fd1c5;
$teal-400: #38b2ac;
$teal-500: #319795;
$teal-600: #2c7a7b;
$teal-700: #285e61;
$teal-800: #234e52;
$teal-900: #1d4044;

$blue-50: #ebf8ff;
$blue-100: #bee3f8;
$blue-200: #90cdf4;
$blue-300: #63b3ed;
$blue-400: #4299e1;
$blue-500: #3182ce;
$blue-600: #2b6cb0;
$blue-700: #2c5282;
$blue-800: #2a4365;
$blue-900: #1a365d;

$cyan-50: #edfdfd;
$cyan-100: #c4f1f9;
$cyan-200: #9decf9;
$cyan-300: #76e4f7;
$cyan-400: #0bc5ea;
$cyan-500: #00b5d8;
$cyan-600: #00a3c4;
$cyan-700: #0987a0;
$cyan-800: #086f83;
$cyan-900: #065666;

$purple-50: #faf5ff;
$purple-100: #e9d8fd;
$purple-200: #d6bcfa;
$purple-300: #b794f4;
$purple-400: #9f7aea;
$purple-500: #805ad5;
$purple-600: #6b46c1;
$purple-700: #553c9a;
$purple-800: #44337a;
$purple-900: #322659;

$pink-50: #fff5f7;
$pink-100: #fed7e2;
$pink-200: #fbb6ce;
$pink-300: #f687b3;
$pink-400: #ed64a6;
$pink-500: #d53f8c;
$pink-600: #b83280;
$pink-700: #97266d;
$pink-800: #702459;
$pink-900: #521b41;
