/* time */
$fade-duration: 250ms;

/* z-index */
$default-z-index: 10;
$modal-z-index: 100;
$toast-z-index: 1000;

/* size */
$xs-height: 28px;
$sm-height: 32px;
$md-height: 36px;
$lg-height: 40px;

$gap: 8px;

/* radius */
$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 6px;
$border-radius-4: 8px;
$border-radius-5: 10px;
$border-radius-6: 12px;
$border-radius-7: 14px;
$border-radius-8: 16px;
$border-radius-9: 18px;

@function prefix($name) {
  @return ka-#{$name};
}
