@import './config/color.scss';
@import './config/variable.scss';

.ka-form {
  &-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    $block: selector-unify(&, &);

    &.#{prefix(is-inline)} {
      display: inline-flex;
      margin-right: 12px;
    }

    &__label {
      font-size: 14px;
      color: $text-color-2;
      padding-right: 6px;
    }

    /* align type: top left right */
    @mixin default-align-type($type,$align) {
      #{$block}__label {
        text-align: $align;

        @if ($type == top) {
          width: 100%;
        }
      }
    }

    @mixin align-type($type,$align) {
      &.#{prefix(align-#{$type})} {
        @include default-align-type($type,$align);
      }
    }

    @include default-align-type(default,right);
    @include align-type(left,left);
    @include align-type(right,right);
    @include align-type(top,left);

    /* size type: xs sm md lg */
    @mixin default-size-type($height) {
      #{$block}__label {
        line-height: $height;
      }

      #{$block}__inner {
        line-height: $height;
      }
    }

    @mixin size-type($size,$height) {
      &.#{prefix(size-#{$size})} {
        @include default-size-type($height);
      }
    }

    @include default-size-type(28px);
    @include size-type(xs,$xs-height);
    @include size-type(sm,$sm-height);
    @include size-type(md,$md-height);
    @include size-type(lg,$lg-height);

    &__inner {
      flex: 1;
      position: relative;
      padding-bottom: 22px;
    }

    &__error {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 14px;
      line-height: 22px;
      color: $danger;

      &-fade-enter-active,
      &-fade-leave-active {
        opacity: 1;
        transform: translate(0, 0);
        transform-origin: center top;
        transition: opacity 150ms ease, transform 150ms ease;
      }

      &-fade-enter-from,
      &-fade-leave-to {
        opacity: 0;
        transform: translate(0, -6px);
      }
    }
  }
}
