@import './config/color.scss';
@import './config/variable.scss';

.ka-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;

  $root: selector-parse(&);

  & + & {
    margin-left: 8px;
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:focus + #{$root}__inner {
      box-shadow: mix($primary, $white, 60) 0 0 0 2px;
    }
  }

  /* base style */
  &__inner {
    position: relative;
    display: inline-block;
    background-color: $gray-300;
    box-sizing: border-box;
  }

  &__slider {
    position: absolute;
    background-color: #fff;
    transform: translate(0, 0);
    transition: all 150ms ease-out;
  }

  &.#{prefix(is-disabled)} {
    cursor: not-allowed;
  }

  /* size */
  @mixin default-size($width, $height, $padding) {
    #{$root}__inner {
      height: $height;
      width: $width;
      border-radius: $height / 2;
      padding: $padding;
    }

    $slider-width: $height - (2 * $padding);
    #{$root}__slider {
      height: $slider-width;
      width: $slider-width;
      border-radius: $slider-width/2;
    }

    &.#{prefix(is-checked)} {
      #{$root}__slider {
        transform: translate(($width - (2 * $padding) - $slider-width), 0);
      }
    }
  }

  @mixin size-type($size, $width, $height, $padding) {
    &.#{prefix(size-#{$size})} {
      @include default-size($width, $height, $padding);
    }
  }

  @include default-size(34px, 20px, 2px);
  @include size-type(xs, 30px, 18px, 2px);
  @include size-type(sm, 34px, 20px, 2px);
  @include size-type(md, 40px, 24px, 2px);
  @include size-type(lg, 48px, 26px, 2px);

  /* color type */
  @mixin default-type($bg) {
    &__inner {
      background-color: $gray-300;
    }

    &.#{prefix(is-disabled)} {
      #{$root}__inner {
        background-color: mix($gray-300, $white, 60);
      }
    }

    &.#{prefix(is-checked)} {
      #{$root}__inner {
        background-color: $bg;
      }

      &.#{prefix(is-disabled)} {
        #{$root}__inner {
          background-color: mix($bg, $white, 40);
        }
      }
    }
  }

  @mixin type($type, $bg) {
    &.#{prefix(type-#{$type})} {
      @include default-type($bg);
    }
  }

  @include default-type($primary);
  @include type(primary, $primary);
  @include type(success, $success);
  @include type(warning, $warning);
  @include type(danger, $error);
}
