@import './config/color.scss';
@import './config/variable.scss';

$border-radius: 6px;

.ka-toast {
  border-radius: $border-radius;
  padding: 12px 32px 12px 16px;
  width: auto;
  box-sizing: border-box;
  transform: translate(0, 0);
  margin-bottom: 12px;
  z-index: $toast-z-index;

  &-fade-enter-active,
  &-fade-leave-active {
    transform: translate(0, 0);
    transition: opacity $fade-duration ease, transform $fade-duration ease;
  }

  &-fade-enter-from,
  &-fade-leave-to {
    opacity: 0;
    transform: translate(0, -40px);
  }

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    font-size: 20px;
    margin-right: 10px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  &__main {
    font-size: 14px;

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }

    &-content {
      font-size: 14px;
      line-height: 24px;
    }
  }

  @mixin default-color-type($bgc,$color) {
    background-color: $bgc;
    color: $color;
  }

  @mixin color-type($type,$bgc,$color) {
    &.#{prefix(color-#{$type})} {
      @include default-color-type($bgc,$color);
    }
  }

  @include default-color-type($gray-100, $gray-600);
  @include color-type(primary, $primary, $white);
  @include color-type(success, $success, $white);
  @include color-type(warning, $warning, $white);
  @include color-type(error, $danger, $white);
  @include color-type(default, $gray-100, $gray-600);

  &__btn {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 18px;

    .ka-active-btn {
      padding: 2px;
    }
  }

  &__mouse-hack {
    height: 100%;
    width: calc(100% - 32px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: $transparent;
  }
}

/* ka-toast-container style */
#ka-toast-container {
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0);
  max-width: 560px;
  min-width: 300px;
  z-index: $toast-z-index;
}
